<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cordovawebsettings" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaWebSettings</name>
    <js-module name="CordovaWebSettings" src="www/CordovaWebSettings.js">
        <clobbers target="cordova.plugins.CordovaWebSettings" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaWebSettings">
                <param name="android-package" value="cordova.plugin.cordovawebsettings.CordovaWebSettings" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaWebSettings.java" target-dir="src/cordova/plugin/cordovawebsettings" />
    </platform>
</plugin>